In [1]:
import pandas as pd
from urllib.request import urlretrieve
import os

In [2]:
url = 'http://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yieldAll'
filename = 'rates.html'
if not os.path.exists(filename):
    urlretrieve(url, filename=filename)

In [3]:
s = open(filename).read()

In [4]:
df = pd.read_html(s, flavor='bs4')

In [5]:
len(df)

8

In [6]:
df[1].head()

,Date,1 mo,2 mo,3 mo,6 mo,1 yr,2 yr,3 yr,5 yr,7 yr,10 yr,20 yr,30 yr
0,01/02/90,NaN,NaN,7.83,7.89,7.81,7.87,7.90,7.87,7.98,7.94,NaN,8.00
1,01/03/90,NaN,NaN,7.89,7.94,7.85,7.94,7.96,7.92,8.04,7.99,NaN,8.04
2,01/04/90,NaN,NaN,7.84,7.90,7.82,7.92,7.93,7.91,8.02,7.98,NaN,8.04
3,01/05/90,NaN,NaN,7.79,7.85,7.79,7.90,7.94,7.92,8.03,7.99,NaN,8.06
4,01/08/90,NaN,NaN,7.79,7.88,7.81,7.90,7.95,7.92,8.05,8.02,NaN,8.09

In [7]:
df[1].to_csv('rates.csv', index=False)